body, html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 300px;
}

.wrapper2,
.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper2 {
  margin-top: 400px;
  margin-bottom: 300px;
}

.displayList {
  flex: 1 0 100%;
  width: 100%;
}

.email-editor {
  position: absolute;
  background-color: #f8f8f7;
  box-shadow: 0 0 20px #eaeaea;
  border-radius: 8px;
  margin-top: 10%;
  border: 1px solid white;
  max-width: 50%;
  width: 100%;
  color: #050038;

  &__content {
    position: relative; 
  }     
  &__body {
    padding: 40px 40px 34px;
    &--label {
      font-size: 20px;
      margin-bottom: 20px;
    }
    &--name {
      font-weight: 600;
      font-family: Arial, sans-serif;        
    }
  }

  &__editor {
    border: 1px solid #c3c2cf;
    border-radius: 6px;
    max-height: calc(100vh - 680px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: #827f9b transparent;
    scrollbar-width: thin;
    box-sizing: border-box;
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    padding: 7px 4px 3px 6px;
    color: #4d4d4d;

    &--email {}

    &--list {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;

      span {
        position: relative;
        padding-left: 10px;
        padding-right: 7px;
        margin-right: 4px;
        max-width: 100%;
        box-sizing: border-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-bottom: 3px;
        height: 24px;
        line-height: 24px;
        background-color: rgba(102, 152, 255, 0.2);
        border-radius: 12px;
        font-size: 14px;
      }

      &-invalid {
        opacity: .7;
        border-bttom: 1px solid red;
        span {
          background: none;
          border-radius: 0;
          text-decoration: underline;
          text-decoration-color: red;
        }
      }

      &-delete {
        display: inline-block;
        height: 24px;
        width: 10px;
        font-size: 17px;
        font-weight: lighter;
        vertical-align: middle;
        cursor: pointer;
        margin-right: -1px;

        &::before {
          content: '\D7';
        } 
      }

    }

    &--input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }
  }

  &__footer {
    background: #fff;
    padding: 24px 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    button {
      flex: 1 0 30%;
      max-width: 30%;
      margin-right: 24px;
      background-color: #4262FF;
      color: white;
      border: none;
      border-radius: 6px;
      padding: 14px 0;
      font-size: 14px;
      margin-bottom: 20px;
      
      &:focus,
      &:hover {
        outline: none;
        opacity: .5;
        cursor: pointer;
      }
    }
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}

::placeholder {
  color: #c3c2cf;
  opacity: 1;
  font-size: 14px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 4px;
}

a {
  color: #4262ff;
  border-bottom-color: #B3C0FF;
  font-size: 14px;
}