<div class="email-editor">
  <div class="email-editor__content">

    <div class="email-editor__body">
      <div class="email-editor__body--label">
          Share <span class="email-editor__body--name">{board_name}</span> with others
      </div>

      <div class="email-editor__editor">
          <div class="email-editor__editor--email">
            <div class="email-editor__editor--list"></div>
            <input type="text" placeholder="{placeholder_value}" 
                  class="email-editor__editor--input emailField" />
          </div>
      </div>
    </div>

    <div class="email-editor__footer">
      <button class="addEmail">Add email</button>
      <button class="countEmails">Get emails count</button>
      <div class="break"></div>
      <div class="displayList"></div>
    </div>
  </div>
</div>

